body {
  background-image: url("https://wallpapercave.com/wp/wp3006044.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.header{
  font-size: 35px;
  color: white;
  text-align: center;
  font-style: italic;
  font-family: palatino;
  padding-top: 110px;
  background-image: url("../img/city.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 90px solid transparent;
}
.header h2 {
  font-style: normal;
  font-size: 20px;

}
.italics{
  font-style: italic;
}

@media screen and (min-width: 600px) {
  .column {
    font-size: 25px;
    background-color: grey;
    text-align: center;
    color: white;
    border: 0.1px solid green;
    width: 28%;
    height: 200px;
    float: left;
    margin: 30px;
    opacity: 0.8;
  }
}
