body {
  background-color: #004d4d;
}


h1 {
  text-align: center;
  color: #009999;
}
.float {
  float: left;
  border: 5px solid #009999;
  width: 45%;

}
.float h1 {
  text-align: center;
  color: #009999;
}
.columns {
  text-align: center;
  float: left;
  padding: 1px;
  width: 50%;
}
